In [2]:
from down_sampling.main import Downsampler
import pandas as pd

In [3]:
data_name = "billionaires"
data = pd.read_csv(f"../data/{data_name}.csv")

In [4]:
generator = Downsampler()
generator.load_data(data)

In [5]:
# Create synthetic data
dataset = generator.downsample(feature="gender", majority="M", minority="F", ratio=.1, upweight=True)

/Users/john/Documents/brown/cs1970/models/down_sampling/main.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  majority_data['weights'] = majority_weight
/Users/john/Documents/brown/cs1970/models/down_sampling/main.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  minority_data['weights'] = minority_weight

In [6]:
dataset

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country,weights
0,100,16700,Finance & Investments,Vicky Safra & family,70.0,Switzerland,Crans-Montana,Banking,Finance & Investments,Brazil,...,"$703,082,435,360",59.6,105.2,83.6,10.1,28.8,8.574832e+06,46.818188,8.227512,NaN
1,2133,1300,Technology,Michael Krasny,69.0,United States,Highland Park,Retail,Technology,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,0.146331
2,567,4800,Manufacturing,Winifred J. Marquart,63.0,United States,Virginia Beach,Cleaning products,Manufacturing,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,NaN
3,383,6600,Manufacturing,Rahel Blocher,47.0,Switzerland,Wilen bei Wollerau,Chemicals,Manufacturing,Switzerland,...,"$703,082,435,360",59.6,105.2,83.6,10.1,28.8,8.574832e+06,46.818188,8.227512,NaN
4,905,3200,Technology,David Filo,56.0,United States,Palo Alto,Yahoo,Technology,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,0.146331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706,2540,1000,Healthcare,Loo Choon Yong,74.0,Singapore,Singapore,Healthcare,Healthcare,Singapore,...,"$372,062,527,489",84.8,100.6,83.1,13.1,21.0,5.703569e+06,1.352083,103.819836,0.146331
707,184,9800,Logistics,Tanya Saad√© Zeenny,55.0,France,Marseille,Shipping,Logistics,France,...,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,6.705989e+07,46.227638,2.213749,NaN
708,534,5000,Real Estate,Zhu Yan & family,NaN,China,Beijing,Real estate,Real Estate,China,...,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397,NaN
709,215,9000,Food & Beverage,Anthony von Mandl,73.0,Canada,Vancouver,Alcoholic beverages,Food & Beverage,Canada,...,"$1,736,425,629,520",68.9,100.9,81.9,12.8,24.5,3.699198e+07,56.130366,-106.346771,0.146331
710,1217,2500,Fashion & Retail,Susan Alfond,77.0,United States,Scarborough,Shoes,Fashion & Retail,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,NaN